@import "partials/variables"

.home
  width: 100%
  height: 100%
  margin: auto

  .header
    height: 50px
    width: 100%
    padding: 10px
    background-color: $main
    color: white

    .logo
      height: 30px
      width: 30px
      display: inline-block

    .name
      display: inline-block

    .login
      background-color: $main
      outline: none
      float: right
      border: solid 2px $main-darker
      border-radius: 4px
      padding: 6px
      margin-top: -4px
      &:hover
        background-color: $main-darker

  .listofsongs
    width: 600px
    padding: 20px
