@import "partials/variables"

.song
  width: 500px
  height: 70px
  padding: 10px
  padding-right: 0
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3)
  color: $dark
  border-radius: 4px
  overflow: hidden

  .title
    font-size: 16px
    font-weight: 400
    display: inline-block

  .speed
    font-size: 16px
    font-weight: 400
    display: inline-block

  .tags
    color: $light-grey
    font-size: 12px
    font-weight: 400
    display: inline-block

  .color
    width: 8px
    height: 70px
    margin-top: -10px
    float: right

  .color_fast
    background-color: rgb(58, 237, 108)

  .color_semifast
    background-color: rgb(36, 206, 223)

  .color_medium
    background-color: rgb(31, 98, 228)

  .color_slow
    background-color: rgb(198, 228, 52)

  .color_veryslow
    background-color: $red
