@import "partials/variables"

.song-template
  width: 95%
  margin: 20px auto
  height: 70px
  padding: 10px
  padding-right: 0
  color: $dark
  border-bottom: solid 2px rgb(227, 227, 227)
  position: relative
  text-align: left

  input
    outline: none
    border: none

  label
    font-size: 10px
    color: $light-grey
    font-weight: 300
    display: block

  select

  .speed
    font-size: 14px
    font-weight: 400
    width: 15%
    display: inline-block
    float: left
    min-width: 90px
    cursor: pointer

  .tag
    color: $light-grey
    font-size: 12px
    font-weight: 400
    width: 280px
    display: inline-block

  .color
    width: 8px
    height: 70px
    margin-top: -10px
    float: right
