<div class="song-template">

  <div class="speed">
    <label for="speed">Speed</label>
    <span uib-dropdown on-toggle="toggled(open)">
      <div uib-dropdown-toggle>
        {{template.speed ? template.speed : 'choose'}}
      </div>
      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
        <li ng-repeat="speed in songTempCtrl.speeds">
          <div data-ng-click="setSpeed(speed)">{{speed}}</div>
        </li>
      </ul>
    </span>
    <!-- <select name="speed" ng-model="songData.speed" ng-options="speed for speed in songTempCtrl.speeds"> -->
  </select>
  </div>

  <div class="tag">

    <label for="tag">Tag</label>

    <input type="text" name="tag" data-ng-model="template.tag">

  </div>

  <div class="color color_{{template.speed}}"></div>

</div>
