<div class="home">

  <div class="header">

    <img src="./assets/images/logo100px.png" alt="SETLIST" class="logo">
    <div class="name">Setlist</div>

    <button class="about-button" ui-sref="about">about</button>

  </div>

  <div class="setlist-container">
    <div class="listofsongs">

      <h1>Song List</h1>

      <button class="add-song" data-ng-click="home.addSong()">+</button>

      <div class="song-container">

        <song data-ng-repeat="song in home.songs" song-data="song"></song>

      </div>

    </div><!--

    --><div class="setlist">

      <h1>Template</h1>

      <button class="create-setlist" data-ng-click="home.createSetlist()">create setlist</button>

      <select name="" id="" class="choose-type" data-ng-model="home.templateNumber" data-ng-change="home.templateChange()">
        <option value="">Number of songs</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>

      <song-template data-ng-repeat="template in home.templates | orderBy: 'id'" template="template"></song-template>

    </div>
  </div>


</div>
