<div class="home">

  <div class="header">

    <img src="./assets/images/logo100px.png" alt="SETLIST" class="logo">
    <div class="name">Setlist</div>

    <button class="about-button" ui-sref="about">about</button>

    <button class="save-button" data-ng-click="home.save()">

      <div class="text">{{saving ? '' : 'save'}}</div>

      <svg class="icon-loading" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" data-ng-if="saving">
        <path opacity=".25" d="M16 0 A16 16 0 0 0 16 32 A16 16 0 0 0 16 0 M16 4 A12 12 0 0 1 16 28 A12 12 0 0 1 16 4"/>
        <path d="M16 0 A16 16 0 0 1 32 16 L28 16 A12 12 0 0 0 16 4z">
          <animateTransform attributeName="transform" type="rotate" from="0 16 16" to="360 16 16" dur=".8s" repeatCount="indefinite" />
        </path>
      </svg>
    </button>

  </div>

  <div class="setlist-container">
    <div class="listofsongs">

      <h1>Song List <span>number of songs: {{home.songs.length}}</span></h1>

      <button class="add-song" data-ng-click="home.addSong()">+</button>

      <div class="song-container">

        <song data-ng-repeat="song in home.songs" song-data="song"></song>

      </div>

    </div><!--

    --><div class="setlist">

      <h1>Template</h1>

      <button class="create-setlist" data-ng-click="home.createSetlist()" data-ng-disabled="home.songs.length < home.templateNumber && home.templateNumber >= 2">create setlist</button>

      <label for="numberofsongs">Choose number of songs:</label>
      <select name="numberofsongs" id="" class="choose-type" data-ng-model="home.templateNumber" data-ng-change="home.templateChange()">
        <!-- <option value="" disabled>Number of songs</option> -->
        <option value="2">2</option>
        <option value="3" selected>3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>

      <song-template data-ng-repeat="template in home.templates | orderBy: 'id'" template="template"></song-template>

    </div>
  </div>

  <div class="show-setlist" data-ng-if="home.showSetist">
    <div class="background">
      <div class="content">
        <h1>Your Setlist</h1>

        <div class="setlist-songs">
          <div class="setlist-song" data-ng-repeat="song in home.pickedSongs">
            <div class="title">{{song.title}}</div>
            <div class="tags">
              <div class="tag" data-ng-repeat="tag in song.tags"><span class="tag-text">{{'#' + tag}}</span></div>
            </div>

            <div class="color-dot color_{{song.speed}}"></div>
          </div>
        </div>

        <div class="exit" data-ng-click="home.showSetist = false">thanks!</div>
      </div>
    </div>
  </div>


</div>
